.about-section {

  padding: 2rem;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.about-head-section {
  text-align: center;
  margin-bottom: 2rem;
}

.heading-tag-line {
  font-size: 2.5rem; /* Adjust font size here */
  font-weight: 700;
  color: #333;
}

.heading-underline {
  width: 80px;
  height: 3px;
  background-color: #ff0033;
  border: none;
  margin: 0.5rem auto;
}

.about-subsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.about-left-section {
  flex: 1;
  max-width: 600px;
}

.about-heading {
  font-size: 1.75rem; /* Adjusted font size for the heading */
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 1rem;
  margin-left: 30px;
}

.about-left-section p {
  font-size: 1rem; /* Adjusted font size for paragraphs */
  line-height: 1.6;
  color: #c3bdbd;
  margin-left: 30px;
}

.about-right-section {
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hackathon-image {
  width: 100%;
  height: auto;
  max-width: 450px; /* Adjust image width */
  border-radius: 8px;
}
