.slide-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: transparent;
  border: 2px solid #ff6666;
  border-radius: 16px;
  padding: 3px;
  display: flex;
  scale:0.85;
}



.slide-track {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  overflow: hidden;
}

.slider {
  /*background-color: #1F0D3F;*/
  padding: 4rem 1rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}

.slider {
  padding: 4rem 1rem;
  overflow: hidden;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  overflow: hidden;
}


